
.parrafohistoria{
    font-family: 'Poppins', sans-serif;
}
.display-5{
    font-family: 'Roboto Condensed', sans-serif;
}

.fondo2{
    background-image: url(../img/fondito.jpg);
    background-size: cover;
}

.buttons {
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    a  {
        margin-top: 50px;
        text-decoration: none;
        font-size: 28px;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        background: #314652;
        color: $color;
        border-radius: 50%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
        transition: all .4s ease-in-out;
    }
}
.buttons a:hover {
    transform: scale(1.2);
}