.conocenos{
    background-image: url(../img/fondito.jpg);
    background-size: cover;

    h2{
        font-family: 'Roboto Condensed', sans-serif;
    }
    p{
        font-family: 'Poppins', sans-serif;
    }  
}
