.menuback{
    background-image: url(../img/pizzamenufondo.jpg);
    background-size: cover;
    h1{
        font-family: 'Italiana', serif;
    }
    h2{
        font-family: 'Roboto Condensed', sans-serif;
    }
    p{
        font-family: 'Poppins', sans-serif;
    }  
}

.menubebidas{
    background-image: url(../img/bebidasfondos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    h1{
        font-family: 'Italiana', serif;
    }
    h2{
        font-family: 'Roboto Condensed', sans-serif;
    }
    p{
        font-family: 'Poppins', sans-serif;
    }  
}

.menupostres{
    background-image: url(../img/postres\ fondo.jpg);
    background-size: cover;
    h1{
        font-family: 'Italiana', serif;
    }
    h2{
        font-family: 'Roboto Condensed', sans-serif;
    }
    p{
        font-family: 'Poppins', sans-serif;
    }  
}