@import "fuentes";
@import "generales";
@import "card";
@import "bg";
@import "responsive";
@import "index";
@import "nav";
@import "menu";



.parrafohistoria{
    font-family: 'Poppins', sans-serif;
}
.display-5{
    font-family: 'Roboto Condensed', sans-serif;
}

.fondo2{
    background-image: url(../img/fondito.jpg);
    background-size: cover;
}










